* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #080b0c;
}

form {
  display: flex;
}

input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-bottom: auto;
}

button {
  padding: 5px;
  background: transparent;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

button i {
  color: #fff; /* Set the color of the icon */
  font-size: 18px;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("backgroundkul.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.navbar {
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  z-index: 9999;
}

.navbar.scrolling-active {
  background-color: orange;
  padding: 15px 0 15px 0;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .logo h1 {
  color: white;
  font-size: 24px;
}

.navbar .box-navbar .menu {
  display: flex;
  column-gap: 15px;
}

.navbar .box-navbar .menu li {
  list-style-type: none;
}

.navbar .box-navbar .menu li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px 10px 15px;
}

.navbar .box-navbar .menu li a:hover {
  background-color: orange;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu-bar {
  color: white;
  font-size: 24px;
  display: none;
}

.judul {
  width: 100%;
  min-height: 75vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.judul .box-judul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.judul .box-judul .box:nth-child(1) h1 {
  color: white;
  font-size: 3vw;
  line-height: 1.3;
  margin-bottom: 20px;
}

.judul .box-judul .box:nth-child(1) p {
  line-height: 2;
  color: white;
  margin-bottom: 20px;
  font-weight: 100;
}

.judul .box-judul .box:nth-child(1) button {
  width: 180px;
  height: 50px;
  background-color: orange;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.judul .box-judul .box:nth-child(1) button:hover {
  background-color: orange;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.judul .box-judul .box:nth-child(2) img {
  width: 100%;
}

.services {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 100px 0 50px 0;
}

.services .box-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.services .box-services .box {
  width: 300px;
  text-align: center;
  color: white;
}

.services .box-services .box i {
  font-size: 40px;
  margin-bottom: 10px;
  color: orange;
}

.services .box-services .box p {
  font-weight: 100;
}

.desa {
  padding: 50px 0 50px 0;
}

.desa .box-desa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  row-gap: 50px;
}

.desa .box-desa .box {
  text-align: center;
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.desa .box-desa .box:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.desa .box-desa .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.desa .box-desa .box p {
  font-weight: 100;
  margin-bottom: 10px;
}

.desa .box-desa .box button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.desa .box-desa .box button:hover {
  background-color: orangered;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.favorited {
  background-color: #ffd700; /* Gold color as an example */
}

.favorite-icon::before {
  color: #ff9900; /* Star color */
  margin-right: 5px; /* Adjust as needed */
}

.daftar .box-daftar button i {
  font-size: 16px;
  font-weight: bold;
  margin-inline: 5px;
}

.footer {
  padding: 25px 0 25px 0;
  background-color: orange;
}

.footer .box-footer {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  column-gap: 100px;
  align-items: center;
}

.footer .box-footer .box {
  color: white;
}

.footer .box-footer .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer .box-footer .box:nth-child(2) a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.footer .box-footer .box p {
  font-weight: 200;
}

.footer .box-footer .box:nth-child(1) p {
  font-size: 12px;
  line-height: 2;
  margin-top: 10px;
}

.footer .box-footer .box:nth-child(3) {
  text-align: center;
}

.footer .box-footer .box:nth-child(3) span {
  font-weight: bold;
}

.card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-img {
  flex: 0 0 auto;
  width: 200px; /* Atur lebar gambar sesuai kebutuhan */
  height: auto;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.card-text {
  margin-bottom: 1rem;
}

.badge {
  background-color: #6c757d;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.card-footer {
  border-top: 1px solid #ccc;
  padding: 0.75rem;
  background-color: #f8f9fa;
}

.flexone {
  flex: 1;
}

.groups {
  margin: 0 auto;
  width: 780px;
  padding: 10px;
  height: auto;
}
.groups li {
  position: relative;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgb(250, 248, 248);
  overflow: hidden;
  margin-bottom: 30px;
  transition: all 0.3s;
}
.groups li:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 14px 0 rgba(247, 244, 244, 0.333);
}
.groups .card {
  overflow: hidden;
  display: block;
}
.groups .image-session {
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
.groups .image-session .image {
  width: 280px;
  height: 220px;
  display: block;
  background-size: cover;
  background-position: center;
}
.groups .meta-sission {
  position: relative;
  padding: 15px;
  display: block;
  height: 220px;
}
.groups .meta-sission .head {
  display: flex;
  margin-bottom: 10px;
}
.groups .meta-sission .head .catogry {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.meta-sission .head .per span,
.meta-sission .head .per input {
  display: block;
  font-size: 10px;
  text-align: right;
}
.meta-sission .head .per input {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: rgb(253, 253, 253);
  margin-bottom: 4px;
  overflow: hidden;
}
.meta-sission .head .per input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -100px 0 0 100px #0075ff;
}
.groups .body .title {
  height: 60px;
  overflow: hidden;
  font-size: 24px;
}
.groups .body .desc {
  height: 45px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 13px;
}
.groups .footer1 .button {
  position: absolute;
  bottom: 20px;
  right: 25px;
  background: #000000;
  color: #efeeee;
  line-height: 2.2;
  padding: 0 20px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0 1px 6px 0 #0004;
  transition: all 0.3s;
}
.groups .footer1 .button:hover {
  box-shadow: 0 3px 8px 0 #0005;
  background: #063a78;
  right: 15px;
}
.groups .footer1 .views {
  display: block;
  font-size: 12px;
  margin-top: 40px;
}

@media screen and (max-width: 780px) {
  .groups {
    width: 96%;
  }
  .groups li:hover {
    transform: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 560px) {
  .groups .image-session {
    float: none;
    margin-right: 0;
  }
  .groups .image-session .image {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .hero .box-hero .box:nth-child(1) button {
    width: 150px;
  }
}

@media screen and (max-width: 990px) {
  .menu-bar {
    display: block;
  }

  .navbar .box-navbar .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 275px;
    row-gap: 11px;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background-color: orange;
  }

  .navbar .box-navbar .menu.menu-active {
    top: 70px;
    opacity: 1;
    border-top: 20px solid saddlebrown;
  }

  .hero .box-hero .box:nth-child(1) p {
    font-size: 14px;
  }

  .daftar .box-daftar h1 {
    font-size: 28px;
  }

  .footer .box-footer {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero .box-hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  }

  .hero .box-hero .box:nth-child(1) {
    order: 2;
    text-align: center;
  }

  .hero .box-hero .box:nth-child(2) {
    order: 1;
    text-align: center;
  }

  .hero .box-hero .box:nth-child(2) img {
    width: 55vw;
  }
}

@media screen and (max-width: 575px) {
  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 475px) {
  .daftar .box-daftar button {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 370px) {
  .hero .box-hero .box:nth-child(2) {
    width: 55vw;
    align-self: flex-end;
    justify-self: center;
  }

  .pantai .box-pantai {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
